@page "/category"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations

<SfGrid DataSource="@Categories" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" @ref="Grid">
    <GridTemplates>
        <ToolbarTemplate>
            <SfToolbar>
                <ToolbarEvents Clicked="ToolbarClickHandler"></ToolbarEvents>
                <ToolbarItems>
                    <div class="d-flex flex-column">
                        <div>
                            <ToolbarItem Text="Thêm"></ToolbarItem>
                            <ToolbarItem Text="Cập nhật"></ToolbarItem>
                            <ToolbarItem Text="Xóa"></ToolbarItem>
                            <ToolbarItem Text="Sửa"></ToolbarItem>
                            <ToolbarItem Text="Hủy"></ToolbarItem>
                        </div>
                        <div>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-up icon" Id="CollapseAll" Text="Thu gọn"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-down icon" Id="ExpandAll" Text="Mở rộng"></ToolbarItem>
                        </div>
                    </div>
                </ToolbarItems>
            </SfToolbar>
        </ToolbarTemplate>
    </GridTemplates>
    <GridGroupSettings Columns=@GroupOption>
        <CaptionTemplate>
            @{
                var data = (context as CaptionTemplateContext);
                <span>@data.HeaderText - @data.Key (@data.Count dòng)</span>
            }
        </CaptionTemplate>
    </GridGroupSettings>
    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
    <GridPageSettings PageSize="5">
    </GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(CategoryItem.Id) HeaderText="Mã danh mục"></GridColumn>
        <GridColumn Field=@nameof(CategoryItem.Name) HeaderText="Tên danh mục"></GridColumn>
        <GridColumn Field=@nameof(CategoryItem.ProductCount) HeaderText="Số lượng sản phẩm"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    // STT, Tên danh mục, Số luong sản phẩm, Thao tác
    public List<CategoryItem> Categories { get; set; } = new();
    private SfGrid<CategoryItem> Grid;
    private List<string> ToolbarItems = new List<string>() { "Thêm", "Cập nhật", "Xóa", "Sửa", "Hủy" };
    private string[] GroupOption = (new string[] { "Id" });

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ServiceModel<CategoryList> result = await categoryService.GetCategories();

            if (result.Success == true && result.Data is not null)
            {
                Categories = result.Data.Categories;
            }
        }
        catch (Exception ex)
        {
            await DisplayDialog("Kiểm tra lại kết nối máy chủ", "Lỗi lấy danh sách danh mục");
        }
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "Thu gọn")
        {
            await this.Grid.CollapseAllGroupAsync();
        }
        if (args.Item.Text == "Mở rộng")
        {
            await this.Grid.ExpandAllGroupAsync();
            await this.Grid.CloseEditAsync();
        }
    }

    private async Task DisplayDialog(string content, string title)
    {
        await DialogService.AlertAsync(content, title);
    }
}