@page "/discount"

@using BaseLibrary.Responses
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner


<div class="bg-white shadow-lg p-2">
    <h1 class="text-black
         fs-5 mb-0">
        <strong>
            Quản lý mã giảm giá
        </strong>
    </h1>
</div>

@if (IsLoading == true)
{
    <div id="container">
        <SfSpinner @bind-Visible="@IsLoading">
        </SfSpinner>
    </div>
}
else
{
    <div class="px-4">
        <SfBreadcrumb class="my-2">
            <BreadcrumbItems>
                <BreadcrumbItem Text="Trang chủ" IconCss="bi bi-house-door-fill" Url="/"></BreadcrumbItem>
                <BreadcrumbItem Text="Mã giảm giá" IconCss="bi bi-tag-fill"></BreadcrumbItem>
                <BreadcrumbItem Text="Danh sách mã giảm giá" IconCss="bi bi-tags"></BreadcrumbItem>
            </BreadcrumbItems>
            <BreadcrumbTemplates>
                <ItemTemplate>
                    <SfChip>
                        <ChipItems>
                            <ChipItem Text="@context.Text" Enabled="true" LeadingIconCss="@context.IconCss"></ChipItem>
                        </ChipItems>
                    </SfChip>
                </ItemTemplate>
                <SeparatorTemplate>
                    <span class="e-icons e-bullet-arrow"></span>
                </SeparatorTemplate>
            </BreadcrumbTemplates>
        </SfBreadcrumb>

        <SfGrid DataSource="@Discounts" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" @ref="Grid" AllowExcelExport="true" AllowReordering="true" Toolbar="@ToolbarItems" AllowPdfExport="true">
            <GridGroupSettings Columns=@GroupOption>
                <CaptionTemplate>
                    @{
                        var data = (context as CaptionTemplateContext);
                        <span>@data.HeaderText - @data.Key (@data.Count dòng)</span>
                    }
                </CaptionTemplate>
            </GridGroupSettings>
            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
            <GridPageSettings PageSize="5">
            </GridPageSettings>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
            <GridEvents TValue="DiscountItem" OnActionBegin="ActionBeginHandler" OnToolbarClick="ToolbarClickHandler"></GridEvents>
            <GridColumns>
                <GridColumn Field=@nameof(DiscountItem.Id) HeaderText="Mã giảm giá" AllowEditing="false" AllowAdding="false"></GridColumn>
                <GridColumn Field=@nameof(DiscountItem.Name) HeaderText="Tên giảm giá"></GridColumn>
                <GridColumn Field=@nameof(DiscountItem.Value) HeaderText="% Giảm giá"></GridColumn>
                <GridColumn Field=@nameof(DiscountItem.Quantity) HeaderText="Số lượng"></GridColumn>
                <GridColumn Field=@nameof(DiscountItem.StartDate) HeaderText="Ngày bắt đầu"></GridColumn>
                <GridColumn Field=@nameof(DiscountItem.EndDate) HeaderText="Ngày kết thúc"></GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
}


@code {
    private bool IsLoading = false;
    // STT, Tên giảm giá, % Giảm giá, Số lượng, Ngày bắt đầu, Ngày kết thúc
    public List<DiscountItem> Discounts { get; set; } = new();
    private SfGrid<DiscountItem> Grid;
    private List<string> ToolbarItems = new List<string>() { "Add", "Edit", "Delete", "Cancel", "Print", "ExcelExport", "PdfExport", "Refresh" };
    private string[] GroupOption = (new string[] { "Id" });

    public async void ActionBeginHandler(ActionEventArgs<DiscountItem> args)
    {
        // Nếu trùng mã giảm giá thì không cho thêm
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && Discounts.Any(x => x.Id == args.Data.Id))
        {
            args.Cancel = true;
            await DisplayDialog("Mã giảm giá đã tồn tại", "Lỗi thêm giảm giá");
            return;
        }

        // Nếu trùng tên giảm giá thì không cho thêm
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && Discounts.Any(x => x.Name == args.Data.Name))
        {
            args.Cancel = true;
            await DisplayDialog("Tên giảm giá đã tồn tại", "Lỗi thêm giảm giá");
            return;
        }

        // Nếu ngày kết thúc nhỏ hơn ngày bắt đầu thì không cho thêm
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && args.Data.EndDate < args.Data.StartDate)
        {
            args.Cancel = true;
            await DisplayDialog("Ngày kết thúc phải lớn hơn ngày bắt đầu", "Lỗi thêm giảm giá");
            return;
        }

        // Nếu ngày bắt đầu nhỏ hơn ngày hiện tại thì không cho thêm
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && args.Data.StartDate < DateTime.Now)
        {
            args.Cancel = true;
            await DisplayDialog("Ngày bắt đầu phải lớn hơn ngày hiện tại", "Lỗi thêm giảm giá");
            return;
        }

        // Nếu ngày kết thúc nhỏ hơn ngày hiện tại thì không cho thêm
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && args.Data.EndDate < DateTime.Now)
        {
            args.Cancel = true;
            await DisplayDialog("Ngày kết thúc phải lớn hơn ngày hiện tại", "Lỗi thêm giảm giá");
            return;
        }

        // Nếu số lượng giảm giá nhỏ hơn 0 thì không cho thêm
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && args.Data.Quantity < 0)
        {
            args.Cancel = true;
            await DisplayDialog("Số lượng phải lớn hơn hoặc bằng 0", "Lỗi thêm giảm giá");
            return;
        }

        // Nếu % giảm giá nhỏ hơn 0 thì không cho thêm
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && args.Data.Value < 0)
        {
            args.Cancel = true;
            await DisplayDialog("% giảm giá phải lớn hơn hoặc bằng 0", "Lỗi thêm giảm giá");
            return;
        }

        // Nếu trùng tên giảm giá thì không cho cập nhật
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Edit" && Discounts.Any(x => x.Name == args.Data.Name))
        {
            args.Cancel = true;
            await DisplayDialog("Tên giảm giá đã tồn tại", "Lỗi cập nhật giảm giá");
            return;
        }

        // Nếu ngày kết thúc nhỏ hơn ngày bắt đầu thì không cho cập nhật
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Edit" && args.Data.EndDate < args.Data.StartDate)
        {
            args.Cancel = true;
            await DisplayDialog("Ngày kết thúc phải lớn hơn ngày bắt đầu", "Lỗi cập nhật giảm giá");
            return;
        }

        // Nếu ngày bắt đầu nhỏ hơn ngày hiện tại thì không cho cập nhật
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Edit" && args.Data.StartDate < DateTime.Now)
        {
            args.Cancel = true;
            await DisplayDialog("Ngày bắt đầu phải lớn hơn ngày hiện tại", "Lỗi cập nhật giảm giá");
            return;
        }

        // Nếu ngày kết thúc nhỏ hơn ngày hiện tại thì không cho cập nhật
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Edit" && args.Data.EndDate < DateTime.Now)
        {
            args.Cancel = true;
            await DisplayDialog("Ngày kết thúc phải lớn hơn ngày hiện tại", "Lỗi cập nhật giảm giá");
            return;
        }

        // Nếu số lượng giảm giá nhỏ hơn 0 thì không cho cập nhật
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Edit" && args.Data.Quantity < 0)
        {
            args.Cancel = true;
            await DisplayDialog("Số lượng phải lớn hơn hoặc bằng 0", "Lỗi cập nhật giảm giá");
            return;
        }

        // Nếu % giảm giá nhỏ hơn 0 thì không cho cập nhật
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Edit" && args.Data.Value < 0)
        {
            args.Cancel = true;
            await DisplayDialog("% giảm giá phải lớn hơn hoặc bằng 0", "Lỗi cập nhật giảm giá");
            return;
        }

        // Thêm giảm giá
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add" && args.Data is not null)
        {
            // Lấy mã giảm giá lớn nhất + 1
            int maxId = Discounts.Max(x => x.Id);

            args.Data.Id = maxId + 1;

            try
            {
                CreateDiscountDTO discountDTO = new()
                    {
                        Name = args.Data.Name,
                        EndDate = args.Data.EndDate,
                        Quantity = args.Data.Quantity,
                        StartDate = args.Data.StartDate,
                        Value = args.Data.Value
                    };

                var result = await discountService.CreateDiscount(discountDTO);

                if (result.Flag == false)
                {
                    await DisplayDialog(result.Message, "Lỗi thêm giảm giá");
                }
                else
                {
                    await DisplayDialog(result.Message, "Thông báo");
                }

            }
            catch (Exception)
            {
                await DisplayDialog("Kiểm tra lại kết nối máy chủ", "Lỗi thêm mã giảm giá");
            }
        }

        // Cập nhật giảm giá
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Edit" && args.Data is not null)
        {
            try
            {
                UpdateDiscountDTO discountDTO = new()
                    {
                        Name = args.Data.Name,
                        EndDate = args.Data.EndDate,
                        Quantity = args.Data.Quantity,
                        StartDate = args.Data.StartDate,
                        Value = args.Data.Value
                    };

                var result = await discountService.UpdateDiscount(args.Data.Id, discountDTO);

                if (result.Flag == false)
                {
                    await DisplayDialog(result.Message, "Lỗi cập nhật giảm giá");
                }
                else
                {
                    await DisplayDialog(result.Message, "Thông báo");

                    await Grid.EndEditAsync();
                }

            }
            catch (Exception)
            {
                await DisplayDialog("Kiểm tra lại kết nối máy chủ", "Lỗi cập nhật giảm giá");
            }
        }

        // Xóa giảm giá
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete) && args.Data is not null)
        {
            try
            {
                var result = await discountService.DeleteDiscount(args.Data.Id);

                if (result.Flag == false)
                {
                    await DisplayDialog(result.Message, "Lỗi xóa giảm giá");
                }
                else
                {
                    await DisplayDialog(result.Message, "Thông báo");
                }
                await Grid.Refresh();
            }
            catch (Exception)
            {
                await DisplayDialog("Kiểm tra lại kết nối máy chủ", "Lỗi xóa giảm giá");
            }
        }
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "PDF Export")
        {
            await this.Grid.ExportToPdfAsync();
        }
        else if (args.Item.Text == "Excel Export")
        {
            await this.Grid.ExportToExcelAsync();
        }

        if (args.Item.Text == "Refresh")
        {
            await FetchData();
        }
    }

    private async Task FetchData()
    {
        IsLoading = true;
        try
        {
            ServiceModel<DiscountList> result = await discountService.GetDiscounts();

            if (result.Success == true && result.Data is not null)
            {
                Discounts = result.Data.Discounts;
            }
        }
        catch (Exception ex)
        {
            await DisplayDialog(ex.ToString(), "Lỗi lấy danh sách mã giảm giá");
        }
        finally
        {
            IsLoading = false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task DisplayDialog(string content, string title)
    {
        await DialogService.AlertAsync(content, title);
    }
}

<style>
    .e-bullet-arrow::before {
        content: '\e763';
        font-size: 12px;
    }
</style>